// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


$dark-blue: #1B2D45;
$light-green: #427B86;
$base-red: #F90015;


body{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background-color: #EDF2F6;
	overflow-x:  hidden;


	.wrapper{
		padding-top: 100px;
	}

	


	a{
			color:$dark-blue;
		}

		a:hover{
			color:$light-green;
		}


	p{
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		color: #333;
	}


	ul{
		padding: 0;
		list-style: none;
	}

	
}



@media screen and (min-width: 960px) {
     .alignwide, .alignfull {
          width:  100vw;
          max-width:  100vw;
          margin-left:  calc(50% - 50vw);
     }
}




/* Fuentes */

.desktop-title{
	font-family: Mina;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	/* or 118% */
	color: $dark-blue;
}

.desktop-subtitle{
	font-family: Mina;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	/* or 118% */
	color: $dark-blue;
}

.desktop-regular{
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #333;
}

.desktop-medium{
font-family: Mina;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
color: #333;

}

.desktop-small{
font-family: Mina;
font-style: normal;
font-size: 14px;
line-height: 16px;
color: #333;

}

.text-white{
	color: white !important;
}

/* navegacion */


.wrapper {
    padding: 0px ;
}


.nav-link{
	color: $dark-blue;
	line-height: 1.5;
	border-bottom: 4px solid white;
}

.nav-link:hover{
	color: $light-green;
	border-bottom: 4px solid $light-green;
}


.navbar{
padding: 0px;
box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25);

	.active{
		.nav-link{
		color: $dark-blue;
		line-height: 1.5;
		border-bottom: solid 4px $light-green;
		background-color: #eee;
		}

		.nav-link:hover{
		color: $light-green;
		border-bottom: solid 4px solid white;
		}
	}

	.nav-link{
		padding-right: 1rem!important;
	    padding-left: 1rem!important;
		}
}

.custom-toggler.navbar-toggler { 
    border-color: lightgreen; 
} 

.navbar-toggler{
	    position: relative;
    bottom: 15px;
    right: 5px;

}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color:  $dark-blue;
}

.dropdown-item.active, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color:  $dark-blue;
}


/* banner */


.n2-ss-align.n2-ss-align-visible {
    z-index: -1;
}



/* botones */

.btn-secondary{
	border: 2px solid $light-green;
	border-radius: 0px;
	font-family: Mina;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 16px !important;
	line-height: 24px;
	background-color: transparent;
	padding: 8px 16px !important;
	color: $light-green;
	
}

.btn-secondary:hover {
    color: #fff;
    background-color: $dark-blue;
    border-color:$dark-blue;
}

.nav-previous,.nav-next{
	background-color: white;
	margin: 8px 0px 32px 0px;

	a{
		background-color: $dark-blue;
		padding: 16px;
		border-radius: 10px;
		color: white;
	}

	a:hover{
		background-color: $light-green;
		padding: 16px;
		border-radius: 10px;
		color: white;
	}
}

.btn-primary {
    color: #fff;
    background-color: $dark-blue;
    border-color:$dark-blue;
}



.btn-primary:hover {
    color: #fff;
    background-color: $light-green;
    border-color:$light-green;
}

/* ultimas publicaciones */




@include media-breakpoint-down(sm) {
  .corazon li {
    margin: 8px 0px!important;
  }
}


.corazon {


	p{
		margin-top: 16px;
	}



	li{
		background-color: white;
		border-radius: 5px;
		box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
		overflow: hidden;
		display: flex;
        flex-direction: column;
        margin: 16px 0px;

		.wp-block-latest-posts__post-excerpt{
			padding: 0px 30px 8px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;


			a{
				padding: 0px;

			}
		}

		.wp-block-latest-posts__featured-image img {
		    height: 100%;
		    width: 100%;
		}

		a{
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			/* or 118% */
			color:$dark-blue;
			padding: 50px 30px 8px;


		}
	}
}

/* caja de video */

.video{
	border-radius: 5px;
    border: 1px solid grey;
    overflow: hidden;}

/* agenda */

.agenda{
	background-color: white;
		border-radius: 5px;
		box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
		padding: 30px 25px;

		a{
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 22px;
			color: #333333;
		}

		li{
			padding-bottom: 16px;
		}

		li:first-child:before{
			content: "Últimos eventos";
			display: block;
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			/* or 118% */
			color: $dark-blue;
			margin-bottom: 16px;
		}

		
}

.is-style-wide{
	border: 1px solid #427B86;
}

.ftn{

	li{
		display: flex;
	}

	.wp-block-latest-posts__featured-image img {
	    height: auto;
	    width: auto;
	    max-width: none;
	}
}


.box-shadow{
	transition: filter 0.3s ease-out 100ms;
	filter: drop-shadow(0px 1px 15px rgba(0, 0, 0, 0.15));
}

.box-shadow:hover {
	filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
}

.box{
	background-color: white;
	margin: 0px 0px 16px 0px;
	padding: 32px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-image: url(https://www.comra.org.ar/new/wp-content/uploads/2021/02/fondo1.png);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;

	a{
		color:$dark-blue;
		transition: color 0.3s ease-out 100ms;
	}

	a:hover{
		color: $light-green;
	}

}

.top-line{
	height: 10px;
	background: linear-gradient(
180deg
,#427b86 0,#1b2d45 82.29%);
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.noticias{

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	margin: 16px 0px 16px 0px;
	transition: filter 0.3s ease-out 100ms;
	filter: drop-shadow(0px 1px 15px rgba(0, 0, 0, 0.15));

	img{
		width: 100%;
	}
}

.noticias:hover {
	filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
}

.instituciones{
	border-radius: 10px;
	margin: 16px 0px 16px 0px;
	background-color: white;
	padding: 16px;
	img{
		margin: 2px 16px ;
	}
}

.wp-block-columns.has-background {
    padding:0px;

}

@include media-breakpoint-down(sm) {
	.wp-block-columns.has-background {
    padding:0px;
    margin-right: -15px;
    margin-left: -15px;
}
}


/* footer */

footer{

	a{
		color: white;
	}

	p{
		color: white;
	}

}

.footer{
color: white;
background: linear-gradient(180deg, #427B86 0%, #1B2D45 82.29%);
/* shadow */
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
padding: 60px 0px 80px;
}

.back{
	color: white;
background: linear-gradient(180deg, #427B86 0%, #1B2D45 82.29%);
}
.footer_2{
	border-top: 1px solid $light-green;
	padding-top: 32px;


}

.separador{
	border: 1px solid #427B86;
}

.tag{
	background-color: $dark-blue;
	position: relative;
	border-radius: 3px 0px 3px;
	padding: 8px 16px;
	top: 0;
}

.social{
	i{
		font-size: 32px;
		padding: 0px 8px;
	}
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}

 .carousel { 
 width:200px; 
 height:200px; 
 } 




 /* widgets right sidebar */

 .widget-box{
 	.widget{
 		background-color: white;
 		border-radius: 10px;
		box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
		padding: 32px;
		margin-bottom: 16px;

		.widget-title{
			padding: 0px 0px 8px 0px;
			border-bottom: 1px solid $dark-blue;
		}

		a{
			color:$dark-blue;
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 18px;
		}

		a:hover{
			color:$light-green;
		}

		ul{

			padding: 0px;
			li{
				list-style: none;
				margin-bottom: 8px;

			}
		}

 	}
 }


 /* Post content styles */
.post-box{
		background-color: white;
 		border-radius: 10px;
		box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
		margin-bottom: 16px;
		overflow: hidden;

  }

.image-post{
	overflow: hidden;

	img{
	width: 100%;
	}
}

.content-post{
	padding: 32px;
}


 /* Page and Post titles */

.box-title{
	background: linear-gradient(90.49deg, #427B86 1.25%, #1B2D45 100%);
	width: 100%;
	height: 139px;
	text-align: center;
	padding: 32px;
	color: white;
	line-height: 75px;
	margin-bottom: 32px;
}


 /* Tabs blocks */

 .tabs{

 	.wp-block-ub-tabbed-content-tabs-content{
 		 	background-color: white;
 		 	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
 		 	border: none;

 	}

 	[aria-selected=false]{
		background-color: #ccc;
	}

 }


 .sublista-box {


	p{
		margin-top: 16px;
	}



	li{
		background-color: white;
		overflow: hidden;
		display: flex;
        flex-direction: row;
        margin: 16px 0px;
        border-radius: 10px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);

		.wp-block-latest-posts__post-excerpt{
			padding: 8px 30px 8px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;


			a{
				padding: 0px;

			}
		}

		.wp-block-latest-posts__featured-image img {
		    height: 100%;
		    width: 100%;
		}

		a{
			
		    font-family: Mina;
		    font-style: normal;
		    font-weight: 700;
		    font-size: 22px;
		    line-height: 26px;
		    color: #1b2d45;
		    padding: 16px 0px 0px 16px;



		}
	}


}


 .sublista {


	p{
		margin-top: 16px;
	}



	li{
		background-color: white;
		border-bottom:solid 1px $light-green;
		overflow: hidden;
		display: flex;
        flex-direction: column;
        margin: 16px 0px;

		.wp-block-latest-posts__post-excerpt{
			padding: 0px 30px 8px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;


			a{
				padding: 0px;

			}
		}

		.wp-block-latest-posts__featured-image img {
		    height: 100%;
		    width: 100%;
		}

		a{
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			/* or 118% */
			color:$dark-blue;
			padding: 50px 30px 8px;


		}
	}


}

 /*Dèportes */

.eventos{
	background-color: white;
		border-radius: 5px;
		box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
		padding: 30px 25px;

		a{
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 22px;
			color: #333333;
		}

		li{
			padding-bottom: 16px;
		}

		li:first-child:before{
			content: "Últimos eventos";
			display: block;
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			/* or 118% */
			color: $dark-blue;
			margin-bottom: 16px;
		}

		
}