// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


$dark-blue: #1B2D45;
$light-green: #427B86;
$base-red: #F90015;


body{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background-color: #EDF2F6;

	
}


/* Fuentes */
.desktop-subtitle{
	font-family: Mina;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	/* or 118% */
	color: $dark-blue;
}

.desktop-regular{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #333;
}

.desktop-medium{
font-family: Mina;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
color: #333;

}

.text-white{
	color: white !important;
}

/* navegacion */


.wrapper {
    padding: 0px ;
}


.nav-link{
	color: $dark-blue;
	border-bottom: 4px solid white;
	line-height: 1.5;
}

.nav-link:hover{
	color: $light-green;
	border-bottom: 4px solid $light-green;
}


.navbar{

padding: 0px;
box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25);

}


/* banner border */



/* botones */

.btn-secondary{
	border: 2px solid $light-green;
	border-radius: 0px;
	font-family: Mina;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 16px !important;
	line-height: 24px;
	background-color: transparent;
	padding: 8px 16px !important;
	
}



/* ultimas publicaciones */




@include media-breakpoint-down(sm) {
  .corazon li {
    margin: 8px 0px!important;
  }
}


.corazon {


	p{
		margin-top: 16px;
	}



	li{
		background-color: white;
		border-radius: 5px;
		box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
		overflow: hidden;
		display: flex;
        flex-direction: column;
        margin: 16px 0px;

		.wp-block-latest-posts__post-excerpt{
			padding: 0px 30px 8px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 20px;


			a{
				padding: 0px;

			}
		}

		.wp-block-latest-posts__featured-image img {
		    height: 100%;
		    width: 100%;
		}

		a{
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			/* or 118% */
			color:$dark-blue;
			padding: 50px 30px 8px;


		}
	}
}

/* caja de video */

.video{
	border-radius: 5px;
    border: 1px solid grey;
    overflow: hidden;}

/* agenda */

.agenda{
	background-color: white;
		border-radius: 5px;
		box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
		padding: 30px 25px;

		a{
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 22px;
			color: #333333;
		}

		li{
			padding-bottom: 16px;
		}

		li:first-child:before{
			content: "Últimos eventos";
			display: block;
			font-family: Mina;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			/* or 118% */
			color: $dark-blue;
			margin-bottom: 16px;
		}

		
}

.is-style-wide{
	border: 1px solid #427B86;
}

.ftn{

	li{
		display: flex;
	}

	.wp-block-latest-posts__featured-image img {
	    height: auto;
	    width: auto;
	    max-width: none;
	}
}


.box-shadow{
	transition: filter 0.3s ease-out 100ms;
	filter: drop-shadow(0px 1px 15px rgba(0, 0, 0, 0.15));
}

.box-shadow:hover {
	filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
}

.box{
	background-color: white;

	padding: 32px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-image: url(http://localhost/confede/wp-content/uploads/2021/02/fondo1-1.png);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;

	a{
		color:$dark-blue;
		transition: color 0.3s ease-out 100ms;
	}

	a:hover{
		color: $light-green;
	}

}

.top-line{
	height: 10px;
	background: linear-gradient(
180deg
,#427b86 0,#1b2d45 82.29%);
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.noticias{

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;

	img{
		width: 100%;
	}
}

.instituciones{
	border-radius: 10px;
	background-color: white;
	padding: 16px;
	img{
		margin: 2px 16px ;
	}
}





/* footer */

footer{

	a{
		color: white;
	}

}

.footer{
color: white;
background: linear-gradient(180deg, #427B86 0%, #1B2D45 82.29%);
/* shadow */
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
padding: 60px 0px 80px;
}

.back{
	color: white;
background: linear-gradient(180deg, #427B86 0%, #1B2D45 82.29%);
}
.footer_2{
	border-top: 1px solid $light-green;
	padding-top: 32px;
}

.separador{
	border: 1px solid #427B86;
}

.tag{
	background-color: $dark-blue;
	position: relative;
	border-radius: 3px 0px 3px;
	padding: 8px 16px;
	top: 0;
}

.social{
	i{
		font-size: 32px;
		padding: 0px 8px;
	}
}